h1{
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;

}
h6{
 font-style: oblique;
 font-weight:bold;
 color: darkblue;
}


p{
font-size: medium;
font-style:oblique;
font-weight: lighter;
color: black;
flex-direction: column-reverse;
}